* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    color: #006080;
}

/* 
  navbar
*/

nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: white; /* 4 */
    color: #006080;
    font-size: 1.5rem;
}

nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
}

nav li {
    padding-left: 1rem; /* 7! */
}

/* 
  links
*/
a {
    color: #006080;
    text-decoration: none;
}

/* 
  sections
*/

section {
    margin: 10rem;
}

.section-title {
    font-size: 3rem;
}

p {
    margin: 1rem;
    line-height: 1.5rem;
}

/* 
  Introduction
*/

#profile-image {
    margin: 2rem;
    width: 50%;
    border-radius: 50%;
}

.yada-yada {
    margin: 1rem;
    margin-top: 0rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 2rem;
}

/* overrides general section class */
.intro {
    margin: 4rem;
}

/* 
 Recent Projects
*/

.project {
    margin: 2rem;
}

/* 
 Blog Posts
*/

.post {
    margin: 2rem;
}

#section-title-for-posts {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/* 
Talks
*/
.livestream img {
    height: 40%;
    width: 100%;
}

#section-title-talks {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/* reach out */
.contact-section-div {
    margin: 2rem;
}

/* intro-div */

/* footer */
#footer-link {
    font-size: 2rem;
}
.contact-section-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.social-list {
    margin-top: 4rem;
}
.social-list__link {
    font-size: 4rem;
    padding: 0.5rem; /* 3 */
}
footer {
    margin-top: 8rem;
}

/* back to top buttons */

.section-link-arrow {
    font-size: 2rem;
}

/* 
  sizes for phones, 600px and smaller screens
*/
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }

    section {
        margin: 2rem;
    }
    #footer-link {
        font-size: 1rem;
    }
    .social-list {
        margin-top: 2rem;
    }
    #profile-image {
        margin-left: 2rem;
        width: 50%;
        border-radius: 50%;
    }
}

/* larger sizes */
@media (min-width: 800px) {
    .livestream img {
        height: 20%;
        width: 50%;
    }

    #profile-image {
        float: left;
        margin-right: 10px;
        clear: both;
        width: 30%;
        border-radius: 50%;
        margin-bottom: 8rem;
    }

    .intro-p {
        margin-left: 4rem;
        overflow: auto;
        display: block;
    }

    .yada-yada {
        margin-top: 4rem;
    }

    .section-title {
        font-size: 3rem;
        margin-top: 6rem;
    }
}
